* {
  font-family:           monospace;
  font-size:                  20px;
  color:                   #d3d8df;
  transition-duration:          0s;
}

window#waybar {
  background:          transparent;
}

#clock.date,
#clock,
#custom-weather,
#tray,
#pulseaudio,
#backlight,
#temperature,
#bluetooth,
#battery {
  background:    @theme_base_color;
  padding:                   0 5px;
}

#tray {
  border-top-right-radius:    10px;
  padding:                  0 10px;
}

#clock.date {
  border-bottom-left-radius:  10px;
  color:                   #bf616a;
}

#clock:not(.date) {
  border-bottom-right-radius: 10px;
  color:                   #d08770;
}

#custom-weather {
  margin-right:               20px;
  border-radius:     10px 10px 0 0;
  color:                   #d3b578;
}

#pulseaudio {
  margin-left:                20px;
  border-top-left-radius:     10px;
}

#bluetooth.icon {
  color:                   #5297cf;
}

#temperature.icon {
  color:                   #d36265;
}

#backlight.icon {
  border-top-left-radius:     10px;
  color:                   #e7e18c;
}

#battery.icon {
  color:                   #5baebf;
}

#battery:not(.icon) {
  border-top-right-radius:    10px;
}

@keyframes blink {
  to {
    background:    @theme_base_color;
  }
}

#temperature.critical {
  background:                  Red;
  animation-name:              blink;
  animation-duration:          1s;
  animation-direction:         alternate;
  animation-iteration-count:   infinite;
}

#battery.critical:not(.charging) {
  background:                  Red;
  animation-name:              blink;
  animation-duration:          1s;
  animation-direction:         alternate;
  animation-iteration-count:   infinite;
}
