* {
  border:                  none;
  border-radius:           0;
  font-family:             monospace;
  box-shadow:              none;
  transition-duration:     0s;
  padding:                 5px 0;
}

window#waybar {
  font-size:               15px;
  color:                   #d3d8df;
}

.modules-left,
.modules-center,
.modules-right {
  padding:                 0;
}

#clock.date {
  color:                   #bf616a;
}

#clock {
  color:                   #d08770;
}

#custom-weather{
  color:                   #d3b578;
}

#language {
  border-top:              1px solid #4c5866;
  border-bottom:           1px solid #4c5866;
}

#mode {
  background:              #d36265;
  border-radius:           5px;
}

#workspaces button {
  font-size:               13px;
  color:                   #d3d8df;
  padding:                 0;
  margin:                  0;
}

#workspaces button.persistent {
  color:                   #4c5866;
}

#workspaces button:hover {
  font-size:               15px;
  background:              transparent;
}

#workspaces button.focused {
  font-size:               16px;
  color:                   #81a1c1;
  border-top:              1px solid #81a1c1;
  border-bottom:           1px solid #81a1c1;
}

#workspaces button.urgent {
  background:              Orange;
}

#custom-headphone_icon {
  color:                   #5297cf;
}

#temperature.icon {
  color:                   #d36265;
}

#backlight.icon {
  color:                   #e7e18c;
}

#battery.icon {
  color:                   #5baebf;
}

@keyframes blink {
  to {
    background:          transparent;
  }
}

#temperature.critical {
  background:                  Red;
  border-radius:               5px;

  animation-name:              blink;
  animation-duration:          1s;
  animation-direction:         alternate;
  animation-iteration-count:   infinite;
}

#battery.critical:not(.charging) {
  background:                  Red;
  border-radius:               5px;

  animation-name:              blink;
  animation-duration:          1s;
  animation-direction:         alternate;
  animation-iteration-count:   infinite;
}
