copy     y
quit     q
zoom_in  =

move_left   h
move_down   j
move_up     k
move_right  l

screen_down  <C-d>
screen_up    <C-u>

toggle_custom_color      d
fit_to_page_height       <C-w>h
fit_to_page_width        <C-w>w
fit_to_page_width_smart  <C-w>s
fit_to_page_width_ratio  <C-w>r

search_selected_text_in_flibusta        sf
search_selected_text_in_libgen          sl
search_selected_text_in_google_scholar  ss
search_selected_text_in_google          sg
