copy     y
copy     <C-c>
quit     q

goto_toc            t
goto_begining       gg
goto_end            <S-g>

move_left           h
move_down           j
move_up             k
move_right          l

screen_down         <C-d>
screen_up           <C-u>

zoom_in             <S-+>
zoom_in             =
zoom_out            -

search              /
ranged_search       r/
chapter_search      c/

toggle_dark_mode         d
fit_to_page_width        fw
fit_to_page_width_smart  fs

search_selected_text_in_libgen              sl
search_selected_text_in_google              sg
search_selected_text_in_google_scholar      ss
