# Colors.
# Converter hex to 0-1.0 rgb:
# https://corecoding.com/utilities/rgb-or-hex-to-float.php

text_highlight_color          0.545 0.757 0.753
search_highlight_color        0.827 0.71  0.471
link_highlight_color          0.4   0.514 0.639

background_color              0.169 0.196 0.231
page_separator_color          0.169 0.196 0.231
status_bar_color              0.271 0.318 0.373

dark_mode_background_color    0.169 0.196 0.231
dark_mode_contrast            0.7

custom_background_color       0.169 0.196 0.231
custom_text_color             0.7   0.7   0.7


# Behavior
touchpad_sensitivity            0.3
check_for_updates_on_startup    0
should_launch_new_instance      1
default_dark_mode               1
hover_overview                  1
show_document_name_in_statusbar 1


zoom_inc_factor               1.1
fit_page_to_width_ratio       0.6


# urls to use when executing external_search commands
search_url_f  https://flibusta.is/booksearch?ask=
search_url_l  https://libgen.rs/search?req=
search_url_s  https://scholar.google.com/scholar?q=
search_url_g  https://www.google.com/search?q=
