should_launch_new_instance    1
check_for_updates_on_startup  0
default_dark_mode             1

background_color              0.5 0.5 0.5
dark_mode_background_color    0.5 0.5 0.5

dark_mode_contrast            0.7

# Highlight color when text is selected using mouse
text_highlight_color    1.0 1.0 0.0

# The color of highlight bar which is displayed when right click is pressed
vertical_line_color    0.0 0.0 0.0 0.1

# Highlight color when text is a search match
search_highlight_color  0.0 1.0 0.0

# Hihglight color for PDF links (note that highlight is off by default
# and can only be seen by performing a toggle_highlight command. See keys.config for more details)
link_highlight_color    0.0 0.0 1.0

# Hihglight color for synctex forward search highlights
synctex_highlight_color    1.0 0.0 1.0

# urls to use when executing external_search commands
search_url_f  https://flibusta.is/booksearch?ask=
search_url_l  https://libgen.rs/search?req=
search_url_s  https://scholar.google.com/scholar?q=
search_url_g  https://www.google.com/search?q=
