@-moz-document url("about:home"),
               url("about:newtab"),
               url("about:privatebrowsing") {
  body {
    background-color:   -moz-Dialog !important;
    background-image:   url(wp.png) !important;
    background-position:     center !important;
    background-size:            30% !important;
    background-repeat:    no-repeat !important;
  }
}
